.section-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    margin: auto;
    gap: 1rem;
    padding-top: 60px;

    .card-1 {
        a {

            .image {
                margin-right: 30px;

                img {
                    border-radius: 30px 0 30px 0;
                }
            }
        }


    }

    .card-2,
    .card-3 {

        a {

            .card {
                align-items: flex-start;
                padding: 20px 20px 0 20px;

                .image {
                    padding-bottom: 30px;
                }

                .icon {
                    bottom: 1px;
                }
            }
        }


    }

    @media (max-width: 1050px) {
        max-width: 750px;
        place-items: center;

        .card-3 {
            max-width: 500px;
            grid-column: span 2;
        }
    }

    @media screen and (max-width: 795px) {
        grid-template-columns: 1fr;
        max-width: 500px;

        .card-2 {
            max-width: 300px;
        }

        .card-3 {
            max-width: 300px;
            grid-column: unset;
        }
    }

    @media (max-width: 500px) {
        grid-template-columns: 300px;
        max-width: 300px;

        .card-1 {
            a {
                .image {
                    margin-right: 0;
                }

                .card {
                    .icon {
                        bottom: 1px;
                    }
                }
            }
        }
    }
}

.section-2 {
    display: flex;
    align-items: center;
    max-width: 1080px;
    width: 93%;
    margin: 0 auto;
    padding: 40px 0;
    gap: 25px;

    .card:first-of-type {
        flex: 2;
        align-items: start;
        padding-bottom: 0;

        .card-children-1 {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 30px;

            h4 {
                padding: 10px;
                background-color: lightgray;
                margin: 5px;
                height: auto;
                color: black;
                text-align: center;
                border-radius: 10px;
            }
        }

        .icon {
            bottom: 1px;
        }
    }

    .card:nth-of-type(2) {
        flex: 1;
        align-items: start;
        padding-bottom: 0;

        .card-children-2 {
            display: flex;
            gap: 20px;
            padding-bottom: 20px;
            align-self: center;

            div {
                padding-bottom: 30px;

                &:hover {
                    opacity: .6;
                }

                &:active {
                    opacity: .2;
                }
            }
        }

        .icon {
            bottom: 1px;
        }
    }

    @media (max-width: 1061px) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        .card:first-of-type {

            .card-children-1 {
                gap: 15px;
                flex-wrap: wrap;
            }
        }
    }
}

.section-3 {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    max-width: 1000px;
    padding: 40px 0 55px 0;

    a {
        .card.row {
            gap: 15px;

            .card.column:first-of-type {

                padding: 20px 20px;

                h4 {
                    text-align: center;
                }
            }
        }

        .card.contact-card.column {
            padding-top: 0;
            padding-bottom: 0;
            align-items: flex-start;
            justify-content: space-between;

            .icon2 {
                padding-bottom: 20px;
            }

            h3 {
                font-size: 48px;

                @media(max-width:816px) {
                    font-size: 35px;

                }
            }

            h3:nth-of-type(2) {
                padding-top: 10px;
                padding-bottom: 13px;

                @media (max-width: 816px) {
                    padding-top: 0;
                }
            }

            span {
                margin-left: 14px;
                color: blue;
            }

        }
    }

    @media (max-width: 1061px) {
        margin: 0 20px;
    }
}