$box-background: linear-gradient(120deg,
                rgb(255, 255, 255, 0.12),
                rgb(255, 255, 255, 0.01));

$box-background-before: linear-gradient(120deg,
                rgba(255, 255, 255, 0.3),
                rgba(255, 255, 255, 0.05));

/* Font sizes */
$h1-fs: 36px;
$h2-fs: 30px;
$h4-fs: 14px;
$h3-fs: 20px;
$h5-fs: 16px;

/* Colors */
$text-color-heading: #ffffff;
$text-color-blue: #5b78f6;
$background-color: #0f0f0f;
$default-text-color: #9f9f9f;
$button-color: #323232;

// Constants
$default-padding-inside-box: 30px;
$box-border-radius: 30px;
$section-spacing-bottom: 20px;
$nav-bottom-spacing: 80px;
$container-max-width: 1170px;